<div class="card trip-card" [ngStyle]="{ opaque: tripCard.isOpaque }" (click)="onDelete()">
    <img [src]="tripCard.image"
         class="card-img-top"
         alt="..."
         [routerLink]="['view', tripCard.name]" />
    <div class="card-body">
        <h5 class="card-title">{{ tripCard.name }}</h5>
        <p class="card-text">
            {{ tripCard.description }}
        </p>
        <a [routerLink]="['view', tripCard.name]" class="btn btn-primary">Details</a>
        <a routerLink="" class="btn btn-danger" style="margin-left: 5px">Delete</a>
    </div>
</div>
