<div class="card-deck">
  <div class="card" style="width: 18rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRh32M-VtHxrXW8K8cWNkmEN5lW716iSLY26dkrn1QpQR5kcnaP&s"
         class="card-img-top"
         alt="..." />
    <div class="card-body">
      <h5 class="card-title">Vienna</h5>
      <p class="card-text">
        The city of Vienna is the capital and most populous city of Austria.
      </p>
      <a class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
