<div class="card-deck">
    <div class="card" style="width: 18rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRh32M-VtHxrXW8K8cWNkmEN5lW716iSLY26dkrn1QpQR5kcnaP&s"
             class="card-img-top"
             alt="..." />
        <div class="card-body">
            <h5 class="card-title">Vienna</h5>
            <p class="card-text">
                The city of Vienna is the capital and most populous city of Austria.
            </p>
            <a routerLink="view" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://i2-prod.bristolpost.co.uk/incoming/article1819542.ece/ALTERNATES/s615/0_MYR_BRI_240718BRistolUni_03JPG.jpg"
             class="card-img-top"
             alt="..." />
        <div class="card-body">
            <h5 class="card-title">Bristol</h5>
            <p class="card-text">
                The city of Bristol is located in South West England.
            </p>
            <a routerLink="view" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
